sparkone-n8n-workflows/jarvis_agent_system.json
{
  "name": "SparkOne - Sistema de Monitoramento Inteligente",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monitor Contínuo",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "options": {
          "qs": {
            "q": "São Paulo",
            "appid": "{{ $vars.OPENWEATHER_API_KEY }}",
            "units": "metric",
            "lang": "pt_br"
          }
        }
      },
      "id": "weather-api",
      "name": "Verificar Clima",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "https://api.newsapi.org/v2/top-headlines",
        "options": {
          "qs": {
            "country": "br",
            "apiKey": "{{ $vars.NEWS_API_KEY }}",
            "pageSize": 5
          }
        }
      },
      "id": "news-api",
      "name": "Buscar Notícias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Você é SparkOne, o assistente pessoal inteligente. Analise os dados fornecidos e crie um relatório personalizado e útil.\"}, {\"role\": \"user\", \"content\": \"Clima: {{ $('Verificar Clima').item.json.main.temp }}°C, {{ $('Verificar Clima').item.json.weather[0].description }}. Notícias: {{ $('Buscar Notícias').item.json.articles[0].title }}\"}]"
            },
            {
              "name": "max_tokens",
              "value": 500
            },
            {
              "name": "temperature",
              "value": 0.7
            }
          ]
        }
      },
      "id": "ai-analysis",
      "name": "Análise IA SparkOne",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "message": "⚡ **Relatório SparkOne**\n\n{{ $json.choices[0].message.content }}\n\n---\n*Relatório gerado automaticamente às {{ new Date().toLocaleString('pt-BR') }}*",
        "channel": "#sparkone-reports"
      },
      "id": "slack-notification",
      "name": "Enviar para Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "{{ $vars.SPARKONE_LOG_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Logs",
          "mode": "list"
        },
        "valuesToSend": {
          "values": [
            {
              "column": "A",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "column": "B",
              "value": "={{ $('Análise IA SparkOne').item.json.choices[0].message.content }}"
            },
            {
              "column": "C",
              "value": "={{ $('Verificar Clima').item.json.main.temp }}°C"
            },
            {
              "column": "D",
              "value": "={{ $('Buscar Notícias').item.json.articles[0].title }}"
            }
          ]
        }
      },
      "id": "log-to-sheets",
      "name": "Log no Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Monitor Contínuo": {
      "main": [
        [
          {
            "node": "Verificar Clima",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Notícias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Clima": {
      "main": [
        [
          {
            "node": "Análise IA SparkOne",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Notícias": {
      "main": [
        [
          {
            "node": "Análise IA SparkOne",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análise IA SparkOne": {
      "main": [
        [
          {
            "node": "Enviar para Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log no Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
