sparkone-n8n-workflows/jarvis_voice_control.json
{
  "name": "SparkOne - Controle por Voz e Casa Inteligente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sparkone-voice",
        "options": {}
      },
      "id": "voice-webhook",
      "name": "Comando de Voz",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "sparkone-voice-control"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.command }}",
              "rightValue": "luzes",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-lights",
      "name": "Filtrar Comando Luzes",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.command }}",
              "rightValue": "temperatura",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-temperature",
      "name": "Filtrar Comando Temperatura",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "https://api.smartthings.com/v1/devices/{{ $vars.SMART_LIGHT_DEVICE_ID }}/commands",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "smartThingsApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "commands",
              "value": "=[{\"capability\": \"switch\", \"command\": \"{{ $json.body.action === 'ligar' ? 'on' : 'off' }}\"}]"
            }
          ]
        }
      },
      "id": "control-lights",
      "name": "Controlar Luzes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://api.smartthings.com/v1/devices/{{ $vars.SMART_THERMOSTAT_DEVICE_ID }}/commands",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "smartThingsApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "commands",
              "value": "=[{\"capability\": \"thermostatSetpoint\", \"command\": \"setHeatingSetpoint\", \"arguments\": [{{ $json.body.temperature }}]}]"
            }
          ]
        }
      },
      "id": "control-thermostat",
      "name": "Controlar Termostato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "tts-1"
            },
            {
              "name": "input",
              "value": "={{ $json.body.command.includes('luzes') ? '⚡ Luzes ' + $json.body.action + ' com sucesso - SparkOne' : '⚡ Temperatura ajustada para ' + $json.body.temperature + ' graus - SparkOne' }}"
            },
            {
              "name": "voice",
              "value": "alloy"
            }
          ]
        }
      },
      "id": "generate-speech",
      "name": "Gerar Resposta de Voz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/me/player/play",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "context_uri",
              "value": "spotify:playlist:{{ $vars.SPARKONE_PLAYLIST_ID }}"
            }
          ]
        }
      },
      "id": "play-music",
      "name": "Tocar Música",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Comando de Voz": {
      "main": [
        [
          {
            "node": "Filtrar Comando Luzes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Comando Temperatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Comando Luzes": {
      "main": [
        [
          {
            "node": "Controlar Luzes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Comando Temperatura": {
      "main": [
        [
          {
            "node": "Controlar Termostato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controlar Luzes": {
      "main": [
        [
          {
            "node": "Gerar Resposta de Voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controlar Termostato": {
      "main": [
        [
          {
            "node": "Gerar Resposta de Voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
